# Ignorar node_modules e arquivos de build em frontend e backend
frontend/node_modules/
backend/node_modules/

frontend/dist/
backend/dist/

frontend/tmp/
backend/tmp/

frontend/out-tsc/
backend/out-tsc/

frontend/.angular/cache
backend/.angular/cache

frontend/.sass-cache/
backend/.sass-cache/

# Logs de depuração e arquivos de lock
frontend/npm-debug.log*
backend/npm-debug.log*
frontend/yarn-error.log*
backend/yarn-error.log*

# Ignorar arquivos de configuração locais
frontend/.env
backend/.env
frontend/.env.local
backend/.env.local
frontend/.env.development.local
backend/.env.development.local
frontend/.env.test.local
backend/.env.test.local
frontend/.env.production.local
backend/.env.production.local

# Ignorar arquivos de configuração de IDEs e editores
frontend/.idea/
backend/.idea/
frontend/.vscode/
backend/.vscode/

# Ignore todos os arquivos de configuração de VSCode, exceto os específicos que deseja manter
frontend/.vscode/*
backend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
backend/.vscode/*
!backend/.vscode/settings.json
!backend/.vscode/tasks.json
!backend/.vscode/launch.json
!backend/.vscode/extensions.json

# Logs e diretórios de cobertura de testes
frontend/coverage/
backend/coverage/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignore diretórios específicos de compilação e cache
frontend/.cache/
backend/.cache/